<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bienvenidos a policlínico ULEAM</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap">
</head>

<body>
    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido al sistema del policlinico ULEAM</h2>
                <p>Si ya tienes una cuenta, inicia sesión aquí</p>
                <p>👇👇</p>
                <button type="submit" class="sign-up-btn" (click)="handleSignIn()">Iniciar Sesión</button>
                <p>¿No tienes cuenta? Regístrate 👉 </p>
            </div>
        </div>
        <div class="formulario">
            <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                <h2 class="create-account">Crear una cuenta</h2>
                <input type="text" formControlName="email" placeholder="Correo">
                <input type="password" formControlName="password" placeholder="Contraseña">
                <button type="submit" class="BOTONR" value>Regístrate</button>
            </form>
        </div>
    </div>
    <div class="container-form sign-in" id="formulario2">
        <div class="formulario">
            <form [formGroup]="formLogin" (ngSubmit)="onValidar()">
                <br><br><br><br><br>
                <h2 class="create-account">Ingresa tu usuario y contraseña</h2>
                <input type="text" formControlName="email" placeholder="Correo">
                <input type="password" formControlName="password" placeholder="Contraseña">
                <button type="submit" class="BOTONR" value="registrate">Iniciar</button>

            </form>
            <button class="BOTONR" (click)="onClick()">
                <img src="../assets/imagen/descarga.png" class="logog" alt="Google Logo" /> Continuar con Google
            </button>
            <!-- Agrega esto donde quieras mostrar el mensaje de error -->
            <div *ngIf="showErrorMessage" class="mensaje-error">
                <p>¡Error! El correo ya existe o las credenciales son incorrectas.</p>
            </div>
        </div>
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido de nuevo</h2>
                <p>Si aún no tienes una cuenta, regístrate aquí</p>
                <button type="submit" class="sign-in-btn" (click)="handleSignUp()">Registrarse</button>
            </div>
        </div>
    </div>
</body>

</html>
