<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap">
  <li class="menu-list__item"><a routerLink="/inicio">Policlínico ULEAM</a></li>
  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-list__item"><a routerLink="/inicio-sesion">INICIAR SESION</a></li>
      <li class="menu-list__item"><a routerLink="/buscarpaciente">BUSQUEDA PACIENTE</a></li>
      <li class="menu-list__item"><a routerLink="/historialclinico">REGISTRO PACIENTE</a></li>
      <li class="menu-list__item"><a routerLink="/registroconsulta">REGISTRO CONSULTA</a></li>
      <li class="menu-list__item"><a routerLink="/hospitalizacion">DETALLE HOSPITALIZACIÒN</a></li>
    </ul>
  </nav>
</header>